{% trans_default_domain 'FOSUserBundle' %}

{% extends 'base.html.twig' %}

{% block title %} Логін {% endblock %}

{% block body %}


    <section class="login">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="admin_error">
                        {% if error %}
                            <div class="alert alert-danger">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-12">
                    <div class="admin_form d-flex justify-content-center">

                            <form action="{{ path("fos_user_security_check") }}" method="post">

                                {% if csrf_token %}
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                {% endif %}

                                <div class="form-group">
                                    <small id="emailHelp" class="form-text text-muted">Ім'я[нікнейм]</small>
                                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />                                </div>
                                <div class="form-group">
                                    <small id="emailHelp" class="form-text text-muted">Пароль</small>
                                    <input type="password" id="password" name="_password" required="required" autocomplete="current-password" />
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                    <label for="remember_me">запам'ятати</label>
                                </div>

                                <button type="submit" class="btn btn-outline-secondary" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}">УВІЙТИ</button>

                            </form>
                    </div>

                </div>
            </div>


        </div>
    </section>


{% endblock %}