{% extends 'base.html.twig' %}

{% block title %} Редагувати користувачів {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}


{% block body %}


    <section class="all_users">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                 {# <a href="{{ path('create_user') }}"> Створити користувача </a>  #}

                    {% for user in users %}

                        <div class="d-flex justify-content-center">
                            <div class="card">

                                <div class="card-body d-flex justify-content-between">
                                    <div>
                                    <p class="card-text">{{ user.username }}</p>
                                    <p class="card-text">{{ user.email }}</p>
                                    </div>
                                    <div class="card-buttom">
                                        <a href="{{ path('update_user', {'id': user.id}) }}" class="btn btn-light">редагувати</a>
                                        <a href="{{ path('delete_user', {'id': user.id}) }}" class="btn btn-light">видалити</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                </div>
            </div>
        </div>
    </section>

{% endblock %}