{% extends 'base.html.twig' %}

{% block title %} Створення користувача {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}




    <section class="admin_authorization">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex justify-content-center">

                        {{ form_start(form) }}

                            <div class="form-group">
                                <label for="textarea"> {{ form_label(form.username) }}</label><br>
                                {{ form_widget(form.username) }}

                            </div>

                            <div class="form-group">
                                <label for="textarea"> {{ form_label(form.email) }}</label><br>
                                {{ form_widget(form.email) }}
                            </div>

                            <div class="form-group">
                                <label for="textarea"> {{ form_label(form.password) }}</label><br>
                                {{ form_widget(form.password) }}
                            </div>

                            <button type="sumbit">зберегти</button>

                        {{ form_end(form) }}

                        </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}