{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}

{% block title %} Реєстрація {% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <section class="register">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex justify-content-center">

                        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

                            <div class="form-group">
                                <label for="textarea"> Ім'я[нікнейм] </label><br>
                                {{ form_widget(form.username) }}
                            </div>
                            <div class="form-group">
                                <label for="textarea"> Email </label><br>
                                {{ form_widget(form.email) }}
                            </div>
                            <div class="form-group">
                                <label for="textarea"> Пароль </label><br>
                                {{ form_widget(form.plainPassword.first) }}
                            </div>
                            <div class="form-group">
                                <label for="textarea"> Повторіть пароль </label><br>
                                {{ form_widget(form.plainPassword.second) }}
                            </div>

                            <button type="sumbit" class="btn btn-outline-secondary" value="{{ 'registration.submit'|trans }}" >зареєструватися</button>

                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}

