{% extends 'base.html.twig' %}

{% block title %} Адмін панель {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}


{% block body %}

    <section class="admin_panel">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="actions">

                        <h3>Доступні дії:</h3>

                        <div class="actions__all">
                            <a href="{{ path('all_users') }}">Редагувати користувачів</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}

