{% extends 'base.html.twig' %}

{% block title %} Авторизація {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block body %}


    <section class="admin_authorization">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="admin_error">
                        {% if error %}
                            <div class="alert alert-danger">
                                {{ error.message }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-12">

                    <div class="d-flex justify-content-center">
                        <div class="admin_form">
                            <form method="post">
                                <div class="form-group">
                                    <small id="emailHelp" class="form-text text-muted">ЛОГІН</small>
                                    <input type="text" name="_username" required="required" class="form-control" id="exampleInputEmail1">
                                </div>
                                <div class="form-group">
                                    <small id="emailHelp" class="form-text text-muted">ПАРОЛЬ</small>
                                    <input type="password" name="_password" required="required" class="form-control" id="exampleInputPassword1">
                                </div>
                                <button type="submit" class="btn btn-outline-secondary">УВІЙТИ</button>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            </form>
                        </div>
                    </div>

                </div>
            </div>


        </div>

    </section>


{% endblock %}



