*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}


  /* забираємо внутрішні відступи */
ul[class],
ol[class] {
  padding: 0;
}

/* забираємо зовнішні відступи */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Основні по дефолту для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Видаляємо стандартну стилізацію для всіх ul і il, у яких є атрибут class */
ul[class],
ol[class] {
  list-style: none;
}

/* Елементи a, у яких немає класу, скидаємо до дефолтних стилів */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Спрощуємо роботу з зображеннями */
img {
  max-width: 100%;
  display: block;
}

/* Вказуємо зрозумілу періодичність в потоці даних у article */
article > * + * {
  margin-top: 1em;
}

/* Успадковуємо шрифти для інпут і кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Видаляємо всі анімації і переходи для людей, які віддають перевагу їх не використовувати */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}