/*-------------------------- admin_authorization ------------------ */

.admin_form {
  width: 300px;
  margin: 150px;
}

/*-------------------------- admin_panel -------------------------- */

.admin_panel {
  margin-bottom: 300px;
}

.actions {
  padding: 25px 0;
}

.actions__all {
  margin: 15px 25px;

  a {
    font-size: 20px;
  }

}

/*-------------------------- all_users -------------------------- */

.card {
  width: 60%;

}


/*-------------------------- admin_user_form -------------------------- */

/*
.form {
  width: 300px;
  margin-left: auto;
  margin-right: auto;

}

*/
