@import "~bootstrap/scss/bootstrap";
@import "_const.scss";
@import "_css_reset.scss";



body, html {
  height: 84%;
}

.maket {
  min-height: 84%;
}


/*-------------------------- header стилі -------------------------- */

.menu {
  padding: 0 0 0 15px;
  border: 1px double black;
  margin: 20px 0;
  background: $menu_bg;

}

.menu__item {
  margin: 15px 5px 15px 10px;

  a {
    color: #2c465a;
    font-weight: 700;
    font-size: 14px;
  }

}


.menu__user {
  margin: 0 5px 15px 10px;

  a {
    color: #2c465a;
    font-weight: 700;
    font-size: 14px;
  }

}



/*-------------------------- body стилі -------------------------- */

.card {
  background: $content_bg;
}

.about {
  margin-top: 20px;
}


.profile {
  margin: 30px 30px 60px 30px;
}


.card-body-img {
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
}

.profile_img {
  margin-bottom: 20px;
}


/*-------------------------- footer стилі -------------------------- */

.footer {
  background: $footer_bg;
  color: #93989e;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 50px 106px;
  margin-top: 20px;
}

.line {
  background: #52535e;
  height: 1px;
  margin-top: 45px;
}

.credits {
  margin-top: 35px;
  text-align: center;
}

