<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %} Web-application {% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('base') }}
    {% endblock %}


</head>

<body>

    <div class="maket">
        {% block header %}
            <header>
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="menu">
                                <nav>
                                    <ul class="d-flex">

                                        <li class = "menu__item">
                                            <a href={{ path('main_page') }} class="btn btn-outline-secondary btn-lg" role="button" aria-pressed="true">ГОЛОВНА СТОРІНКА</a>
                                        </li>


                                        {% if is_granted('ROLE_USER') %}
                                            <li class="menu__item">
                                                <a href={{ path('profile') }} class="btn btn-outline-secondary btn-lg" role="button" aria-pressed="true">ПРОФІЛЬ</a>
                                            </li>
                                        {% endif %}


                                        {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                            <li class="menu__item">
                                                <a href={{ path('fos_user_security_login') }} class="btn btn-outline-secondary btn-lg" role="button" aria-pressed="true">ВХІД</a>
                                            </li>
                                            <li class="menu__item">
                                                <a href= {{ path('fos_user_registration_register') }} class="btn btn-outline-secondary btn-lg" role="button" aria-pressed="true">ЗАРЕЄСТРУВАТИСЯ</a>
                                            </li>
                                        {% endif %}


                                        {% if is_granted('ROLE_ADMIN') %}
                                            <li class="menu__item">
                                                <a href= {{ path('admin_panel') }} class="btn btn-outline-secondary btn-lg" role="button" aria-pressed="true">АДМІН ПАНЕЛЬ</a>
                                            </li>
                                        {% endif %}


                                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                            <li class="menu__item">
                                                <a href= {{ path('logout') }} class="btn btn-outline-secondary btn-lg" role="button" aria-pressed="true">ВИЙТИ</a>
                                            </li>
                                        {% endif %}

                                    </ul>
                                </nav>
                            </div>
                        </div>

                    </div>
                </div>
            </header>
        {% endblock %}



        {% block body %}
            <section class="all_posts">

                <div class="container">

                    <div class="row row-cols-1 row-cols-md-3">

                            {% for post in posts %}
                                <div class="col mb-4">
                                    <div class="card h-100">
                                        <div class="card-body">

                                            <img src="{{ vich_uploader_asset(post) }}" class="card-img-top card-body-img"
                                                 alt="{{ post.title }}">

                                            <h5 class="card-title">{{ post.title }}</h5>
                                            <p class="card-text"> {{ post.description }}</p>

                                            <div class="about d-flex justify-content-between">
                                                {% for user in users %}
                                                    {% if post.userid == user.id %}
                                                        <p class="card-text">Автор: {{ user.username }}</p>
                                                    {% endif %}
                                                {% endfor %}

                                                {{ post.createdat|date('Y-m-d') }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                    </div>
                </div>
            </section>
        {% endblock %}
    </div>



    {% block footer %}
        <footer class="footer">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4">
                        <div class="line"></div>
                    </div>
                    <div class="col-lg-4">
                        <div class="credits">
                            2020 ©   Всі права захищені
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="line"></div>
                    </div>

                </div>
            </div>
        </footer>
    {% endblock %}


    {% block javascript %}
        {{ encore_entry_script_tags('base') }}
    {% endblock %}

</body>
</html>
