{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %} Новий запис {% endblock %}

{% block body %}


    <section class="post_form">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex justify-content-center">

                        {{ form_start(form) }}

                        <div class="form-group">
                            <label for="textarea"> Заговолок</label><br>
                            {{ form_widget(form.title) }}
                        </div>

                        <div class="form-group">
                            <label for="textarea"> Опис</label><br>
                            {{ form_widget(form.description) }}
                        </div>

                        <div class="form-group">
                            {{ form_widget(form.imageFile) }}
                        </div>

                        <button type="sumbit">Зберегти</button>

                        {{ form_end(form) }}

                    </div>

                </div>
            </div>
        </div>
    </section>




{% endblock %}