{% extends 'base.html.twig' %}

{% block title %} Керування зображеннями {% endblock %}

{% block body %}


    <section class="user_img">
        <div class="container">

            <div class="row">
                <div class="profile_img">
                    <div class="col-lg-12">
                        <div class="d-flex justify-content-lefr">
                            {{ form_start(form) }}
                            <div class="form-group">
                                {{ form_widget(form.imageFile) }}
                            </div>
                            <button type="sumbit">Зберегти</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>


            <div class="row row-cols-1 row-cols-md-3">
                {% for img in imgs %}
                    {% if img.userid == user_id %}

                        <div class="col mb-4">
                            <div class="card h-100">
                                <div class="card-body">

                                    <img src="{{ vich_uploader_asset(img) }}" class="card-img-top card-body-img">

                                    <div class="d-flex justify-content-between">
                                        <h5 class="card-title"> {{ img.createdat|date('Y-m-d') }} </h5>

                                        <a href="{{ path('profile_img_choose', {'imagename': img.imagename, 'user_id': user_id, }) }}">вибрати</a>
                                        <a href="{{ path('profile_img_delete', {'id': img.id}) }}">видалити</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>



        </div>
    </section>



{% endblock %}