{% extends 'base.html.twig' %}

{% block title %} Профіль {% endblock %}

{% block body %}

    <section class="user_profile">
        <div class="container">
            <div class="row">

                <div class="profile d-flex">

                    <div class="col-lg-4">
                        {% if image_name %}
                            <img src="{{ vich_uploader_asset(profile_img) }}" class='card-body-img'>
                        {% else %}
                            <img src="{{ asset('user_img.jpeg') }}" class="card-body-img">
                        {% endif %}
                    </div>


                    <div class="col-lg-6">
                        <div class="justify-content-right">
                            <h3> name: {{ user_name }} </h3>
                            <h3> email: {{ user_email }} </h3>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <nav>
                            <ul class="d-flex">
                                <li class = "menu__user">
                                    <a href={{ path('create_post') }} class="btn btn-outline-secondary btn-lg" role="button" aria-pressed="true">Створити запис</a>
                                    <a href={{ path('updates_profile', {'id': user_id}) }} class="btn btn-outline-secondary btn-lg" role="button" aria-pressed="true">редагувати профіль</a>
                                    <a href={{ path('profile_img') }} class="btn btn-outline-secondary btn-lg" role="button" aria-pressed="true">змінити зображення профілю</a>
                                </li>

                            </ul>
                        </nav>
                    </div>

                </div>

            </div>


            <div class="row row-cols-1 row-cols-md-3">
                {% for post in posts %}
                    {% if post.userid == user_id %}

                        <div class="col mb-4">
                            <div class="card h-100">
                                <div class="card-body">

                                    <img src="{{ vich_uploader_asset(post) }}" class="card-img-top card-body-img"
                                         alt="{{ post.title }}">

                                    <h5 class="card-title">{{ post.title }}</h5>
                                    <p class="card-text"> {{ post.description }}</p>

                                    <div class="about d-flex justify-content-between">
                                        {{ post.createdat|date('Y-m-d') }}
                                        <a href="{{ path('update_post', {'id': post.id}) }}">редагувати</a>
                                        <a href="{{ path('delete_post', {'id': post.id}) }}">видалити</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>



        </div>

    </section>




{% endblock %}